<%if @listing.errors.any?%>
    <div class="alert alert-error alert-dismissable fade show">
        <h5><%=pluralize(@listing.errors.count, "error")%> completing the form</h5>
        <ul>
            <%@listing.errors.full_messages.each do |message|%>
                <li><%=message%></li>
            <%end%>
        </ul>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<%end%>