<div style="background-color: #F2F6F4">
    <h1 class="text-center display-4po b text-muted p-5">All Refrigerators and Freezers Listed</h1>
    <section class="container">
        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
            <%@listings.each do |listing|%>
            <div class="row col p-5">
                <div class="card-img-top h-50">
                    <%=display_photo(listing)%>
                    <div class="card-body">
                        <p class="card-text font-weight-bold"><%=format_price(listing.price)%></p>
                        <p class="card-text font-weight-bold"><%=link_to "#{listing.title}", listing_path(listing.id)%></p>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
    </section>
</div>