<h1 class="hero-title text-center">Listings</h1>
<section class="container">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
        <%@listings.each do |listing|%>
        <div class="col mb-4">
            <div class="card border-dark h-100">
                <%=display_photo(listing)%>
                <div class="card-body">
                    <h5><%=link_to "#{listing.title}", listing_path(listing.id)%></h5>
                    <h5><%=format_price(listing.price)%></h5>
                </div>
            </div>
        </div>
        <%end%>
    </div>
</section>