<div class="background">
    <div class="text-center">
        <h1>Fridges For All</h1>
        <p>An online marketplace for users to buy and sell refridgerators and freezers</p>
    </div>
    <div class="text-center">
        <p>Need a fridge? Need to get rid of a fridge?</p>
        <p>Fridges For All has you covered</p>
    </div>
    <div class="home-image-container">
        <%=image_tag("home_background.png", class: "home-image")%>
    </div>
</div>