// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background {
    color: rgb(232, 231, 235);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 97vh;
    width: 100%;
    background-color: rgba(11, 121, 172, 0.863);
    background-size: cover;
}

.home-image-container {
    height: 40vh;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    }